<div class="content-container">
  {{spotify-art trackID=track.id}}

  {{#if track}}
    <div class="track-name">{{track.name}}</div>
    <div class="track-artist">{{track.artist}}</div>
  {{else}}
    <div class="track-name">Loading</div>
    <div class="track-artist">Just a sec…</div>
  {{/if}}

  <div class="controls">
    {{#if isPlaying}}
      <button class="control pause" {{action "pause"}}><i class="fa fa-pause"></i></button>
    {{else}}
      <button class="control play" {{action "play"}}><i class="fa fa-play"></i></button>
    {{/if}}
    <button class="control next" {{action "next"}}><i class="fa fa-step-forward"></i></button>
    <button class="control down" {{action "down"}}><i class="fa fa-volume-down"></i></button>
    <button class="control up" {{action "up"}}><i class="fa fa-volume-up"></i></button>
  </div>

  <div class="volume">
    <b>Current volume:</b> {{volume}}
  </div>
</div>
