<h2 id='title'>Welcome to DJ54B</h2>

<button {{action "play"}}>Play</button>
<button {{action "pause"}}>Pause</button>
<button {{action "next"}}>Next</button>
<button {{action "up"}}>Up</button>
<button {{action "down"}}>Down</button>
